/* https://coolors.co/f7f0f5-1b1b1e-63adf2-e4572e-decbb7 */

@font-face {
  font-family: "CustomFont";
  src: url("../fonts/PTSans-Regular.ttf");
}
@font-face {
  font-family: "CustomFontBold";
  src: url("../fonts/PTSans-Bold.ttf");
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: "CustomFont";
  background-color: #1B1B1E;
  height: 100%;
}

#background-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

h1 {
  font-weight: bold;
  font-size: 60px;
}

p {
  font-size: large;
}

.navbar {
  background-color: #f1faee;
  padding-left: 20%;
  padding-right: 20%;
}

.navbar-brand {
  margin-left: 0px;
  font-weight: bold;
  font-size: 50px;
}

.nav-link {
  font-weight: bold;
  font-size: large;
}

.social-icon {
  max-height: 25px;
}

.section {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 25%;
  padding-right: 25%;
}

.section-color1 {
  /*background-image: url("../res/back8.png");
  background-color: #457b9d;*/
  background: transparent;
  color: #f1faee;
  border-radius: 10px;
}

.section-color2 {
  background-image: url("../res/back5.jpg");
  background-color: #f1faee;
  color: #1b1b1e;
  border-radius: 10px;
}

.section-color2-noimage {
  background-color: #f1faee;
  color: #1b1b1e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact {
  border-radius: 10px;
  border-width: 5px;
  
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
